<a href="https://colab.research.google.com/github/sabesan1998/Linear--Regression/blob/main/Pickle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
import numpy as np
from sklearn import *
import math
import pickle

In [2]:
data = pd.read_csv('/content/homeprices_2.csv')

In [3]:
data

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [4]:
bedroom_median = math.floor(data.bedrooms.median())
bedroom_median

4

In [5]:
data.bedrooms=data['bedrooms'].fillna(bedroom_median)

In [6]:
data

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [7]:
model = linear_model.LinearRegression()

In [8]:
model.fit(data[['area','bedrooms','age']],data.price)

LinearRegression()

In [9]:
model.score(data[['area','bedrooms','age']],data.price)

0.9550196399325821

In [10]:
model.predict([[3000,4,8]])

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([625212.1047345])

In [12]:
with open('model','wb') as file:
  pickle.dump(model,file)

In [13]:
with open('/content/model','rb') as f:
  mp= pickle.load(f)

In [14]:
mp.predict([[3000,4,8]])

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([625212.1047345])